*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# shortcuts, logs, zips and thumbs
*.lnk
*.log
*.zip
Thumbs.db

# adalid and third-party directories
/adalid/
/jee1/
/third-party/

# Archivos y directorios generados por Adalid
/ucv1ap101/delete-log-files.bat
/ucv1ap101/home-compare.bat
/ucv1ap101/home-setup.bat
/ucv1ap101/home-setup.sh
/ucv1ap101/variables.bat
/ucv1ap101/variables.sh

/ucv1ap101/source/development/
/ucv1ap101/source/management/HOME
/ucv1ap101/source/management/backup/
/ucv1ap101/source/management/dist/
/ucv1ap101/source/management/logs/
/ucv1ap101/source/management/resources/bootstrapping/
/ucv1ap101/source/management/resources/config/
/ucv1ap101/source/management/resources/database/postgresql/base/
/ucv1ap101/source/management/resources/database/postgresql/data-migration/base/
/ucv1ap101/source/management/resources/database/postgresql/data/base/
/ucv1ap101/source/management/resources/database/postgresql/functions/base/
/ucv1ap101/source/management/resources/database/postgresql/sequences/base/
/ucv1ap101/source/management/resources/database/postgresql/tables/base/
/ucv1ap101/source/management/resources/database/postgresql/triggers/base/
/ucv1ap101/source/management/resources/database/postgresql/util/base/
/ucv1ap101/source/management/resources/database/postgresql/views/base/
/ucv1ap101/source/management/resources/database/postgresql/views/data-provider/
/ucv1ap101/source/management/resources/database/postgresql/views/zymurgy/base/
/ucv1ap101/source/management/resources/database/postgresql/wrap-up/base/
/ucv1ap101/source/management/resources/reporting/jasper/reports/entity-list/
/ucv1ap101/source/management/resources/reporting/jasper/reports/user-defined/
/ucv1ap101/source/management/resources/scripts/
/ucv1ap101/source/management/resources/velocity/
/ucv1ap101/source/management/setup/
/ucv1ap101/source/management/sql/

/ucv1ap101/source/ucv1ap101/src/conf/MANIFEST.MF
/ucv1ap101/source/ucv1ap101/src/conf/application.xml
/ucv1ap101/source/ucv1ap101/src/conf/glassfish-application.xml
/ucv1ap101/source/ucv1ap101/ucv1ap101-ejb/setup/sun-resources.xml
/ucv1ap101/source/ucv1ap101/ucv1ap101-ejb/src/conf/MANIFEST.MF
/ucv1ap101/source/ucv1ap101/ucv1ap101-ejb/src/conf/persistence.xml
/ucv1ap101/source/ucv1ap101/ucv1ap101-ejb/src/conf/sun-ejb-jar.xml
/ucv1ap101/source/ucv1ap101/ucv1ap101-ejb/src/java/copy/
/ucv1ap101/source/ucv1ap101/ucv1ap101-ejb/src/java/crop/
/ucv1ap101/source/ucv1ap101/ucv1ap101-ejb/test/
/ucv1ap101/source/ucv1ap101/ucv1ap101-lib/src/java/copy/
/ucv1ap101/source/ucv1ap101/ucv1ap101-lib/src/java/crop/
/ucv1ap101/source/ucv1ap101/ucv1ap101-resources/src/copy/
/ucv1ap101/source/ucv1ap101/ucv1ap101-resources/src/crop/
/ucv1ap101/source/ucv1ap101/ucv1ap101-war/src/conf/MANIFEST.MF
/ucv1ap101/source/ucv1ap101/ucv1ap101-war/src/java/copy-1/
/ucv1ap101/source/ucv1ap101/ucv1ap101-war/src/java/copy-2/
/ucv1ap101/source/ucv1ap101/ucv1ap101-war/src/java/crop/
/ucv1ap101/source/ucv1ap101/ucv1ap101-war/web/WEB-INF/faces-config.xml
/ucv1ap101/source/ucv1ap101/ucv1ap101-war/web/WEB-INF/glassfish-web.xml
/ucv1ap101/source/ucv1ap101/ucv1ap101-war/web/WEB-INF/tld/webui-jsf.tld
/ucv1ap101/source/ucv1ap101/ucv1ap101-war/web/WEB-INF/web.xml
/ucv1ap101/source/ucv1ap101/ucv1ap101-war/web/copy/
/ucv1ap101/source/ucv1ap101/ucv1ap101-war/web/crop/
/ucv1ap101/source/ucv1ap101/ucv1ap101-war/web/error.jsp
/ucv1ap101/source/ucv1ap101/ucv1ap101-war/web/fragments/
/ucv1ap101/source/ucv1ap101/ucv1ap101-war/web/index.html
/ucv1ap101/source/ucv1ap101/ucv1ap101-war/web/index.jsp
/ucv1ap101/source/ucv1ap101/ucv1ap101-war/web/login.jsp
/ucv1ap101/source/ucv1ap101/ucv1ap101-war/web/redirect.html
